form {
  padding: 30px;
  width: 400px;
  transform: scale(0.7);
  opacity: 0;
  transform-origin: bottom left;
  position: absolute;
  bottom: 50px;
  left: 0;
  transition: all 300ms ease;
  pointer-events: none;
}

.top-text,
.categorycolor {
  margin-top: 15px;
}

#linkfield,
#titlefield {
  width: calc(43% - 3px);
}

#tagfield {
  float: left;
  width: calc(100% - 68px);
}

#colorpicker {
  float: left;
}


input::-webkit-calendar-picker-indicator {
  opacity: 100%;
}

form#itemform input[type="text"] {
  height: 40px;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-left: 1px solid paleturquoise;
  border-bottom: 1px solid paleturquoise;
  background: transparent;
  border-radius: 10px;
  color: white;
  font-weight: 300;
  background: rgba(206, 241, 249, 0.95);
  box-shadow: 0 10px 25px rgba(150,150,150,0.3);
}

form#itemform:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}


form#itemform input::-webkit-input-placeholder,
form#itemform textarea::-webkit-input-placeholder {
  /* Chrome */
  color: black;
  font-weight:normal;
}
form#itemform input:-ms-input-placeholder,
form#itemform textarea:-ms-input-placeholder {
  /* IE 10+ */
  color: black;
  font-weight:normal;
}
form#itemform input::-moz-placeholder,
form#itemform textarea::-moz-placeholder {
  /* Firefox 19+ */
  color: black;
  font-weight:normal;
  opacity: 1;
}
form#itemform input:-moz-placeholder,
form#itemform textarea:-moz-placeholder {
  /* Firefox 4 - 18 */
  color: black;
  font-weight:normal;
  opacity: 1;
}

input#categoryfield {
  float:left;
  width: calc(100% - 116px);
  background: rgba(206, 241, 249, 0.95);
  box-shadow: 0 10px 25px rgba(150,150,150,0.3);
}

input#colorpicker {
  padding: 5px 12px;
  background: none;
  height: 50px;
  width: 55px;
  margin-left: 5px;
  border-radius: 10px;
  border: none;
  border-left: 1px solid paleturquoise;
  border-bottom: 1px solid paleturquoise;
  cursor: pointer;
  background: rgba(206, 241, 249, 0.95);
  box-shadow: 0 10px 25px rgba(150,150,150,0.3);
}

textarea#descriptionfield {
  border: none;
  border-left: 1px solid paleturquoise;
  border-bottom: 1px solid paleturquoise;
  width: calc(100% - 30px);
  height: 100px;
  margin-top: 10px;
  background: transparent;
  border-radius: 10px;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 300;
  background: rgba(206, 241, 249, 0.95);
  box-shadow: 0 10px 25px rgba(150,150,150,0.3);
}

button#submititem {
  cursor: pointer;
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 15px;
  outline: none;
  border: 2px solid transparent;
  font-size: 18px;
  background: lightskyblue;
  color: #00446e;
  transition: all 300ms ease;
  float:left;
}

button#submititem:hover {
  background: white;
  border: 2px solid white;
}

#submit-message {
  display:none;
  color: #ecf5fb;
  font-size: 20px;
  margin-top: 10px;
  float:left;
  padding: 11px 20px;
  text-shadow: 0 0 25px rgba(255, 255, 255, 0.8);
}