main { 
  width: calc(100% - 80px);
  margin-left: 80px;
  // height:100vh;

  @media screen and (max-width: 700px) {
    width: 100%;
    margin: 0;
    padding-top: 100px;
  }
  // overflow: hidden;

  > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    // display: flex;
    // flex-wrap: wrap;
    // align-content: flex-start;
    // flex-flow: column wrap;
    height: 100%;
    width: auto;

    @media screen and (max-width: 1100px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 700px) {
      grid-template-columns: 1fr;
    }
  }
}